.header {
  padding: 16px 30px 16px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__icon {
  width: 20px;
  height: 20px;
  padding-right: 3px;
}

.header__title {
  font-family: 'DMSans';
  font-size: 30px;
  margin: 0;
}

.header__title-friut {
  color: #ff8f52;
}

.header__title-box {
  color: #879f36;
}

.header__user {
  display: flex;
}

.header__basket {
  width: 32px;
  height: 29px;
  cursor: pointer;
}

.header__account {
  width: 25px;
  height: 29px;
  margin-right: 20px;
  cursor: pointer;
}
