.steps {
  background-color: #f7f7f7;
  padding: 68px 121px 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps__card {
  display: flex;
}
